@charset "utf-8";
/* CSS Document */


/*--------スマホ(375~767px)------*/

@media(max-width:767px){
/*	メインメニュー切り替え*/
	.h-list{
		display: none;
	}
	/*	コンテンツ幅切り替え*/
	.main_contents{
		width:90%;
	}
	.gallary{
		width:90%;
	}
	/*	トップ文字サイズへんこう*/
	.head-area h1{
		font-size:0.8em;
		padding:10px 5px
	}
}




/*---------タブレット(768~)----------*/
@media (min-width: 768px) {
/*	トップ文字サイズへんこう*/
	.head-area h1{
		font-size:1.0em;
		padding:10px 5px
	}
/*	コンテンツ幅切り替え*/
	.main_contents{
		width:80%;
	}
	.gallary{
		width:80%;
	}
/*	メニューは羅列*/
	.humg{
    display: none;
	}	

/*	メルホ*/
.tb-cell {
  width: 800px;
}
.tb-cell .row {
  display: table-row;
}
.tb-cell .row .cell {
  display: table-cell;
  border: 1px solid #f2f2f2;
  padding: 10px;
  vertical-align: middle;
  color: #ddd;
}
.tb-cell .row .cell:nth-child(odd) {
  width: 200px;
}
.tb-cell .row .cell:nth-child(even) {
  width: 600px;
}
input[type="text"],
input[type="e-mail"] {
  width: 300px;
}
textarea {
  width: 580px;
}
}
	
	@media(max-width:980px){
		
	.fix {
    background-image: none;
    height: 100%;
  }
	.scroll_bg,.scroll_bg_last,.scroll_bg_w{
	margin-top: 100vh;
	}
		
  .fix::before {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    content: "";
    z-index: -1;
/*
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, -1px);
    transform: translate3d(0, 0, -1px);
    width: 100%;
    min-height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
*/
  }
  .fix.bg1::before {
      background-image: url(../img/1sm.jpg);
  }
		
  .fix.bg2::before {
      background-image: url(../img/books_smm.jpg);
	  top:1000px;
  }
  .fix.bg3::before {
      background-image: url(../img/work_smm.jpg);
	  z-index: -3;
  }
	
/*
	 .fix.bg1:before {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    content: "";
    z-index: -1;
    }
     スマホの場合は同じ要素の背景画像を変更する 
    .fix.bg1.bgA:before{
     background-image: url("../img/1.jpg");
		opacity: 100%;
    }
     .fix.bg1.bgB:before{
     background-image: url("../img/books.jpg");
    }
    .fix.bg1.bgC:before{
     background-image: url("../img/work.jpg");
    }
    .fix.bg1.bgD:before{
     background-image: url("../img/girls.jpg");
    }
*/
   
  }
		
	
	