/* CSS Document */
@charset "UTF-8";


/*---- 共通ルール----- */
body{
  color:#2e0000;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
/*行の高さをフォントサイズと同じにしています*/
  line-height: 2.0; 
/*文字サイズの自動調整を無効化しています*/
  webkit-text-size-adjust: 100%;
  height: 100%;
}
.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1.0s;
}


/*---- header----- */
header{
  background-color:#685454;
  width:100%;
  height:80px;
  margin:0px;
  position:fixed;
  top:0px;
  z-index:10;
  box-shadow:0 10px 10px rgba(0,0,0,0.3);
}
.head-area{
  display: inline;
  margin: 0px;
}
.head-area h1{
  float:left;
  font-size:30px;
  color:#f2f2f2;
  margin:10px 20px ;
  font-family:  'Playfair Display',serif;
  letter-spacing: 1em;
}
.head-area ul{
  float:right;
  list-style:none;
}
.h-list{
  float:left;
  padding:25px 25px;
  font-family: 'Playfair Display',serif;
  color:#f2f2f2;
}
.h-list a{
  text-decoration: none;
  color:white;
}

.h-list a:hover{
  opacity: 0.7;
}

/*ハンバーガー*/
.humg{
	display: none;
}

.nav-content{
	position: fixed;
	z-index: 11;
	top:60px;
	right:0px;
	background:#685454;
	text-align: center;
	width:35%;
	transform: translateY(-120%);
	transition: all 0.6s;
}

.nav-content ul{
	background:#685454;
	width:100%;
	margin:100px auto;
	padding:0 ;
}
.nav-menu{
	font-size:1.5em;
	list-style-type: none;
	padding:10px;
	width:100%;
	height: 30px;
	
}
.nav-menu a{
	display: block;
	padding:0 10px;
	text-decoration: none;
	color:#f2f2f2;
	font-family: 'Playfair Display',serif;
	border-bottom:1px solid #f2f2f2;
}
.nav-menu:last-child{
	border-bottom: none;
}

/*ハンバーガーアイコン*/
.nav-content.active{
	transform: translateY(0%);
}
.toggle{
	display: block;
	position: fixed;
	top:15px;
	right:15px;
	width: 40px;
	height:40px;
	z-index: 12;
}
.toggle span{
	display: block;
	position: absolute;
	width:30px;
	border-bottom:3px solid #f2f2f2 ;
	-webkit-transition:.35s ease-in-out;
	-moz-transition:.35s ease-in-out;
	transition: .35s ease-in-out;
	left:6px;
}

.toggle span:nth-child(1){
	top:10px;
}
.toggle span:nth-child(2){
	top:19px;
}
.toggle span:nth-child(3){
	top:28px;
}
.toggle.active span:nth-child(1){
	top:18px;
	right:6px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	transform: rotate(-45deg);
}
.toggle.active span:nth-child(2),.toggle.active span:nth-child(3){
	top:18px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform: rotate(45deg);
}


/* -----Main Contents----- */



.main_contents{
	height:100%;
	width:600px;
	margin: auto;
	padding:100px 0;
}

.main_contents h2{
	font-family: 'Playfair Display',serif;
	letter-spacing: 1em;
	padding:50px 0;
	font-size:2em;
}
.main_contents h3{
	font-family: 'Playfair Display',serif;
	letter-spacing: 0.5em;
	padding:15px 0 3px;
	font-size:1em;
}


/*-----背景の設定-----*/
	

.fix {
	position: relative;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
	z-index: 1;
}
  
.bg1 {
  background-image: url("../img/1.jpg");
  opacity: 0;
}
.bg2 {
  background-image: url("../img/books.jpg");
}
.bg3 {
  background-image: url("../img/work.jpg");
}
.bg4 {
  background-image: url("../img/girls.jpg");
}


  
.scroll_bg {
    min-height: 100%;
	background-color: #EA8A8A;
	box-shadow:0 10px 10px rgba(0,0,0,0.3);
	position: relative;
	z-index: 2;
}
.scroll_bg_w {
    min-height: 100%;
	background-color: #EA8A8A;
	height:100%;
	box-shadow:0 10px 10px rgba(0,0,0,0.3);
	position: relative;
	z-index: 2;
	padding-bottom: 200px;
}

.scroll_bg_last {
	position: relative;
    min-height: 100%;
	background-color: #EA8A8A;
	height:800px;
	z-index:2;
}

/*-----About-----*/
#about{
	padding-bottom: 150px;
}

#about p{
	line-height:2.5em;
}

/*-----profile-----*/
#profile p{
	word-spacing: 1em;
}




/*-----------Works------------*/



.gallary{
	width:1000px;
	margin:10px;
}

.g-cell{
	display: table-cell;
	border:1px solid #f2f2f2;
	padding: 10px;
	vertical-align: middle;
}
.g-cell:nth-child(odd){
	width:100px;
}
.g-cell:nth-child(even){
	width: 400px;
}




/*-----Contact-----*/
#contact{
	height:80%;
	width:600px;
	margin: auto;
	padding:100px 0 0;
}


.tb_cell{
	display: table;
	width:800px;
	margin:20px auto 40px;
	text-align: center;
}

.tb_cell .row{
	display: table-row;
}
.tb_cell .row .cell{
	display: table-cell;
	border:1px solid #f2f2f2;
	padding: 10px;
	vertical-align: middle;
	color: #2e0000;
}
.tb_cell .row .cell:nth-child(odd) {
  width: 200px;
}

.tb_cell .row .cell:nth-child(even){
	width:600px;
}
.mail_form .row .cell{
	padding: 5px;
}
.mail_form .row .cell:nth-child(1){
	background:#ebd5d5;
}
.mail_form .row .cell:nth-child(2){
	background:#ccc;
}

input[type="text"],input[type="e-mail"]{
	height:30px;
	width: 300px;
	font-size:16px;
	background-color: #f2f2f2;
	margin:5px;
}
textarea{
	height:100px;
	width:580px;
	font-size: 16px;
	background-color: #f2f2f2;
	margin:5px;
}
button{
	border:none;
	padding:10px;
	font-size: 16px;
	cursor:pointer;
}
button[type="button"],button[type="submit"]{
	background:#ebd5d5;
}
button[type="reset"]{
	background:none;
}
button[type="button"],button[type="submit"]:hover{
	text-decoration: underline;
}
.msg {
  margin: 50px 0;
  font-weight: bold;
}



/* ---トップに戻るボタン--- */
#pageTop {
  position: fixed;
	z-index: 3;
  bottom: 30px;
  right: 30px;
}
#pageTop i {
  padding-top: 1px;
}
#pageTop a {
  display: block;
  padding: 8px ;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  background-color: #ebd5d5;
  color: #f2f2f2;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}




/* ----footer---- */
footer{
  background-color:#685454;
  width:100%;
  height:65px;
  margin:0px;
  box-shadow:0 -10px 10px rgba(0,0,0,0.3);
  position:relative;
	z-index: 2;
}
footer p{
  text-align: center;
  color:#f2f2f2;
  padding:16px ;
}
