/*---- body----- */
body{
  color:#2e0000;
}

/*---- header----- */
header{
  background-color:#685454;
  width:100%;
  height:80px;
  margin:0px;
  position:fixed;
  top:0px;
  z-index:10;
}
.head-area{
  display: inline;
  margin: 0px;
}
.head-area h1{
  float:left;
  font-size:20px;
  color:#f2f2f2;
  margin:25px 20px ;
}
.head-area ul{
  float:right;
  list-style:none;
}
.h-list{
  float:left;
  padding:25px 20px;
  font-family: 'Playfair Display',serif;
  color:#f2f2f2;
}
.h-list a{
  text-decoration: none;
  color:white;
}

.h-list a:hover{
  opacity: 0.7;
}

/* -----main----- */
.main{
   margin-top:50px;
}
h2{
  font-family: 'Playfair Display', serif;
  font-size:2em;
  letter-spacing: 10px;
  line-height: 2em;
}
.container{
  margin:0;
  width:100%;
}
.m_b{
  width:100%;
  background-color:#ea8a8a;
  height:600px;
  margin-top:600px;
}
.m-c{
  width:500px;
  margin:50px auto;
  padding:50px 0;
}

/* .img_about{
  background-image: url(img/books.jpg);
}
.img_prof{
  background-image: url(img/girls.jpg);
}
.img_work{
  background-image: url(img/work.jpg);
}
.img_contact{
  background-image: url(img/glass.jpg);
}
 .go_img{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
} */

/* ---トップに戻るボタン--- */
#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#pageTop i {
  padding-top: 1px;
}
#pageTop a {
  display: block;
  z-index: 999;
  padding: 8px ;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  background-color: #ebd5d5;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/* ----footer---- */
footer{
  background-color:#685454;
  width:100%;
  height:55px;
  margin:0px;
}
footer p{
  text-align: center;
  color:#f2f2f2;
  padding:16px ;
}
